<% @title = "Neues Zweig-Repository erstellen"%>

<% form_tag :controller => :repositories, :action =>:create_for_parent do -%>
  <%= hidden_field_tag 'parent_repo_id', @parent_repository.id %>
  <div>
    Name des neuen Repositories:
    <%= text_field_tag 'name', @name %>
  </div>
  <div>
    <%= radio_can_changed_by %>
  </div>
  <%= submit_tag "Anlegen" %>
<% end -%>

