<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head><title>STONK! &mdash; <%= @title %></title></head>
  <body>
    <%= flash[:notice] %>
    <table border='1' width="100%">
      <thead>
        <tr>
          <th>Documents/Branches</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td valign='top'>
            <ul>
              <% Repository.all.each do |repo| %>
                <li><%= link_to "#{repo.name}.master", "/docs/#{repo.name}.master" %></li>
              <% end %>
            </ul>
          </td>
          <td><%= yield %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
